.landing_screen {
    position: absolute;
    width: 100%;
}


.section {
    height: 100vh;
}

.first {
    background-image: url('../images/landscape/landing_background_02.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
    .first {
        background-image: url('../images/portrait/landing_background_portrait.jpg');
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
}