@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

.sj {
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 5%;
    margin-right: 5%;
}

.sj-heading {
    color: #0C356A;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 250%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 1%;
}