@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

.smr {
    padding: 2%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url("../images/background_nil2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.smr-heading {
    color: #0C356A;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 250%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 2%;
}

.smr-sub-heading {
    color: #0C356A;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 250%;
    text-align: center;
}

.smr-sub-heading-first {
    margin-top: 40px;
}

.smr-btn-item {
    background: #0C356A;
    border: 0.5px solid black;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    padding: 4px 16px 4px 16px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.smr-btn-item:hover {
    background: #FFA500;
    color: black;
    transform: scale(1.05);
}

.smr-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smr-btn-last {
    margin-top: 80px;
}

.smr-cards {
    margin-top: 1%;
    margin-bottom: 3%;
}

.smr-divider {
    width: 60%;
    height: 4px;
    background-color: #D3D0CB;
    margin: 20px auto;
}

.smr-text {
    color: #0C356A;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 150%;
    margin-left: 25%;
    margin-bottom: 1%;
}


@media screen and (max-width: 768px) {
    .smr-btn {
        margin-top: 60px;
        margin-bottom: 20px;
    }
}