.button-container {
    background: #E19812;
    border: 0.5px solid black;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    padding: 4px 6px 4px 6px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.button-container:hover {
    background: #FFA500;
    color: aliceblue;
    transform: scale(1.05);
}