@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

.crd-containter {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 0 6px rgb(160, 255, 246);
    color: black;
    position: relative;
    border-radius: 40px;
    backdrop-filter: blur(20px);
    transform: translate(0, 10px);
    transition: transform 0.5s, box-shadow 0.2s;
    margin: 40px 30px 40px 30px;
    
}

.crd-containter:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(63, 255, 239, 1);
}


.crd-image {
    width: 300px;
    height: auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    object-fit: cover;
}

.crd-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crd-location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.crd-location-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    margin-left: 10px;
}

.crd-tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.crd-tags-title {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.crd-tag {
    border: 0.5px solid black;
    padding: 0px 4px 0px 4px;
    border-radius: 20px;
    color: black;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 80%;
    margin-top: 10px;
    margin-left: 10px;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.crd-btn {
    background: #0C356A;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    padding: 0px 10px 0px 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.crd-btn:hover {
    background: #FFA500;
    color: black;
}

.crd-maplink {
    text-decoration: none;
    margin-top: 10px;
    color: #0C356A;
}

@media screen and (max-width: 768px) {
    .crd-maplink {
        margin-top: 5px;
    }

    .crd-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 2px 14px 2px 14px;
    }
}