.row{
    margin:auto;
    padding-bottom: 10px;
    padding-top:10px ;
}  
.col{
    margin:20px;
    padding-bottom: 2px;
    padding-top:10px ;
    justify-content: center;
    text-align: center;
} 

h2{
    text-align: center;
}
.explore-btn{
    background-color: #E7BB41;
    border-radius: 20px;
    font-size: larger;
    color: black;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}

