.row{
    margin:auto;
    padding-bottom: 10px;
    padding-top:10px ;
}  
.col{
    margin:20px;
    padding-bottom: 2px;
    padding-top:10px ;
    justify-content: center;
    text-align: center;
} 
.PlanYourNextTrip {
    justify-self: center;
    text-align: center;
    color:#0C356A;
    font-size: 50px;
    font-style: italic;
    width:fit-content
}

.h2{
    text-align: center;
}
.explore-btn{
    font-size: 16px !important;
    color:rgb(0, 0, 86) !important;
    background-color: #E7BB41;
    border-radius: 20px;
    border-width: 0px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}

.locationDropdown{
    padding-top: 30px;
}


