.footer_settings {
    position: relative;
    background: #0C356A;
    color: #D9D9D9;
    height: auto;
    border-radius: 10vh 0 0 0;
}

.footer {
    display: flex;
    justify-content: right;
}

.footer div {
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: bold;
    width: auto;

}

.footer h2 {
    font-weight: bold;
    text-align: center;
}

.footer h5 {
    font-weight: normal;
    text-align: center;
}

.logo {
    margin: auto;
}

.footer h2, h3, h5:hover {
    font-weight: bold;
    transition-duration: 100ms;
}

.follow_us {
    text-align: center;
    display: flex;
    justify-content: center;
}

.follow_us div {
    margin-left: 3vw;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.follow_us h4 {
    font-weight: normal;
}

@media screen and (max-width: 500px) {
    .footer_settings {
        padding: 1vh 1vh 1vh 1vh;
    }

    .footer {
        display: block;
        justify-content: center;
    }

    .footer div {
        margin-top: 10vh;
    }

    .footer h2 {
        font-weight: bold;
        text-align: left;
    }

    .footer h5 {
        font-weight: normal;
        text-align: left;
    }

}