.footer {
    padding: 5vh 5vh 5vh 5vh;
    position: relative;
    background: #0C356A;
    color: #D9D9D9;
    height: 40vh;
    border-radius: 10vh 0 0 0;
    display: flex;
    justify-content: right;
}

.footer div {
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: bold;
    width: auto;

}


.footer h2 {
    font-weight: bold;
    text-align: center;
}

.footer h5 {
    font-weight: normal;
    text-align: center;
}

.logo {
    margin-top: 20vh;

}

.footer h2, h3, h5:hover {
    font-weight: bold;
    transition-duration: 100ms;
}