

.btn2 {
  width: 5%;
  outline: none;
  border-radius: 20px;
  background-color:#E7E5DF ;
}

.input-btn {
  outline: none;
  width:70%;
  background-color: #E7E5DF;

}
h5 {
  display: flex;
  justify-content: center;

}

.incr-btn {
  border:2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  border-radius: 20px;
  outline: none;
}