

.grp {
    text-align: center;
    justify-content: center;
  } 
  .LocationBtn {

    text-align: center;
    
    align-items: center;
    
    width: 20vw;
    justify-content: center;
    margin: auto;
    padding-top: 4px;
   
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    background-color: #E7E5DF;
    /* dropdown search color */
    color: rgb(0, 0, 0);  
    border-radius: 20px;
    
  }
  .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center{
    position: absolute;
  }
  .dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
  }
  
  .dropdown:empty {
    border: none;
  }
  
  .dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    background-color: rgb(124, 124, 124);
    display: flex;
  }
  
  input {
    width: 60%;
    color: black;
    outline: none;
  }
  
  .search-inner {
    display: flex;
    color: black;
    border:2px solid #000000;
    border-radius: 20px;
    height:8vh
  }

  .search-btn {
    border-radius: 40px;
    background-color: #E7E5DF;
    width: auto;
    height: 100%;


  }


  
@media screen and (max-width: 760px) {
  .LocationBtn{
    width: 160px;
  }
}

@media screen and (min-height: 720px) {
  .button1{
    height: 10px;
  }
  .search-inner{
    height: 58px;
  }
  .search-container{
    height: 58px;
  }
}