

.grp {
    text-align: center;
    justify-content: center;
  } 
  .LocationBtn {

    text-align: center;
    align-items: center;
    width: 12vw;
    height: 7vh;
    justify-content: center;
    margin: auto;
    padding-top: 3vh ;
    padding-bottom: 0;
    z-index: 50;
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    background-color: #E7E5DF;
    /* dropdown search color */

    border-radius: 20px;
    border: 2px solid #000000;

    
  }
  /* .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center{

    z-index: 100;
  } */
  .dropdown {
    position: relative;
    background-color: #E7E5DF;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    z-index: 100 !important; 
  }
  
  .dropdown:empty {
    border: none;
  }
  
  .dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    display: flex;
    border-color: #E7E5DF;
    border-radius: 20px;  
  }
  
  .linput {
    width: 100%;
    outline: none;
    border:0px;
    border-radius: 20px;
    background-color: 'transparent';
    font-weight: 600;
  }
  
  .search-inner {
    display: flex;
    /* border:2px solid #000000; */
    border-radius: 25px;
    height:6vh;
    background-color: 'transparent';
  }

  .search-btn {
    border-radius: 40px;
    background-color: #E7E5DF;
    width: auto;
    height: 100%;


  }


  
@media screen and (max-width: 760px) {
  .LocationBtn{
    width: 160px;
  }
}

@media screen and (min-height: 720px) {
  .button1{
    height: 10px;
  }
  .search-inner{
    height: 58px;
  }
  .search-container{
    height: 58px;
  }
}