.pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.pagination-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.page-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.page-button:hover {
    background-color: #0056b3;
}


.page-button.active {
    background-color: #0056b3;
}


.page-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.p-btn-container {
    margin-top: 10px;
}