/* Styles for the slider component */
.slider {
    height: 10px;
    max-width: 100%;
    background-color: #f00000;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Styles for the slider thumb */
.slider .thumb {
    height: 30px;
    width: 10px;
    border-radius: 20%;
    background-color: #000000;
    cursor: grab;   
}

/* Styles for the slider active state */
.slider .thumb.active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.SliderDiv{
    width:600px;
    margin-top:auto;
    justify-content:center;
    align-items:center;
    padding:20px;
    border-radius: 5px;
}

.test1 {
    display: flex;
    justify-content: center;
    
    padding: 20px;
    border-radius: 5px;
  }

  @media screen and (max-width: 600px) {
    .SliderDiv {
      width: 400px;
    }
  }
  

  @media screen and (max-width: 1000px) {
    .SliderDiv {
      width: 450px;
    }
  }
  /* This code sets the width of the div to 700px when the screen is less than 1000px wide */

  
  
  
  
